 body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #ffff;
}

ul,li {
    list-style-type: none;
    
}
/* === HEADER === */
.header-navigation-logo-first-logo {
  color: #4d5ae5;
    font-size: 18px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.header-navigation-logo-italic {
    color: #2e2f42;
}
.header-navigation-list-text {
    font-size: 16px;
    font-weight: 500;
    color: #2e2f42;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
.header-navigation-list-text:hover {
    color: #404bbf;
}
.header-navigation-list-text:focus {
    color: #404bbf;
}

.header-address {
    font-style: normal;
}
.header-address-mail {
    font-size: 16px;
    font-weight: 400;
    color: #434455;
    letter-spacing: 0.02em;
    line-height: 1.5;

}
.header-address-mail:hover {
    color: #404BBF;
}
.header-address-mail:focus {
    color: #404BBF;
}
.header-address-tel {
    font-size: 16px;
    font-weight: 400;
    color: #434455;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.header-address-tel:hover {
    color: #404BBF;
}
.header-address-tel:focus {
    color: #404BBF;
}


/* === HERO === */
.hero {
    background-color: #2e2f42;
 
}

.hero__title {
    font-size: 56px;
    font-weight: 700;
    color: #fff;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    
}

.hero__button {
    background-color: #4d5ae5;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    
    cursor: pointer;
}
.hero__button:hover {
    background-color: #404BBF;
}
.hero__button:focus {
    background-color: #404BBF;
}

/* === FEATURES === */
.features {
  /* ... */
}

.features__list {
  /* ... */
}

.features__item {
  /* ... */
}

.features__item-title {
    font-size: 20px;
    font-weight: 500;
    color: #2e2f42;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.features__item-text {
    font-size: 16px;
    font-weight: 400;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* === TEAM === */
.team {
  background-color: #F4F4FD;
}

.team-title {
    font-size: 36px;
    font-weight: 700;
    color: #2e2f42;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    
}

.team-list {
  /* ... */
}

.team-member {
  background-color: #ffff;
}

.team-name {
    font-size: 20px;
    font-weight: 500;
    color: #434455;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-role {
    font-size: 16px;
    font-weight: 400;
    color: #434455;
}

/* === PORTFOLIO === */
.portfolio {
  /* ... */
}

.portfolio-title {
    font-size: 36px;
    font-weight: 700;
    color: #2e2f42;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.portfolio-list {
  /* ... */
}

.portfolio-item {
  /* ... */
}

.portfolio-name {
    font-size: 20px;
    font-weight: 500;
    color: #2e2f42;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-category {
    font-size: 16px;
    font-weight: 400;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* === FOOTER === */
.footer {
    background-color: #2e2f42;
}

.header-navigation-logo-first-logo {
  color: #4d5ae5;
    font-size: 18px;
    font-weight: 700;
    font-family: raleway, sans-serif;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}



.footer-text {
    font-size: 16px;
    font-weight: 400;
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}